<div class="container my-5">
  <p>{{ myDate | date }}</p>
  <div
    appHighlight="orange"
    extrnalColor="green"
    class="ms-5 text-primary my-5"
  >
    {{ recievedCatId | square : 3 }}
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <!-- @if(filtereProducts){ -->
    @for(product of filtereProducts; track product.id){ @if(product.quantaty >
    0){
    <div>
      <div
        class="card"
        [ngStyle]="{ backgroundColor: product.quantaty == 1 ? 'yellow' : '' }"
      >
        <img [src]="product.imgUrl" class="card-img-top" [alt]="product.name" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>

          @switch (product.quantaty) { 
            @case (1) {
                  <p class="card-text bg-danger text-light fs-5 ps-2">last item</p>
            } 
            @case (2) {
                  <p class="card-text bg-danger text-light fs-5 ps-2">last two item</p>

            } 
            @default {
                  <p class="card-text">Quantity:{{ product.quantaty }}</p>
            } 
          }
          <p class="card-text">
            Price:{{ product.price | currency : "EURrr" : "code" }}
          </p>

          <button (click)="buy(product)" class="btn btn-primary">buy</button>
        </div>
      </div>
    </div>
    }
    <!-- @else {
        <div class="alert alert-danger">No products found</div>
        } -->
    }@empty {
    <div class="alert alert-danger">No products found</div>
    }
    <!-- } -->
  </div>

  <p [appAddshadow]="'pink'" class="m-5 w-25 p-5">Lorem ipsum dolor sit.</p>
  <!-- <p >{{id|nationalId:'Day'}}</p>
  <p >{{id|nationalId:'Month'}}</p>
  <p >{{id|nationalId:'Year'}}</p> -->
  <p>{{ id | nationalId : "FullDate" }}</p>
  <p class="m-5 p-5">{{ cridetCard | cridetCard }}</p>
</div>
